.popup__container {
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: black;
}

@media (max-width: 500px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}