.elements {
  column-gap: 17px;
  display: grid;
  grid-template-columns: repeat(auto-fit,282px);
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  justify-content: center;
  row-gap: 20px;
}